@charset "utf-8";

a {
	margin: 0 10px;
	text-decoration:none;
	color:#fff;
	font-weight:bold;
	}
	
h1 {
	color: #d1dd04;
	font-size:3em;
	font-weight: normal;
	text-align:center;
	
	}

/***********************/

body {
	margin:0;
	font-family: verdana;
}

header {
	background:#004da6;
	text-align: center;
	padding:25px 0px;
}

nav {
	background:#002658;
	text-align: center;
	position: relative;
}
	nav div {
		width: 1000px;
		margin: auto;
	}

	nav a {
		margin: 10px;
		background: #ff00ff;
		color:#fff;
		padding: 5px 20px;
		display: inline-block;
		position: relative;
		top: -2px;
		left: -2px;
		border-radius: 5px;
		box-shadow: 5px 5px 20px black;
		transition: .3s;
	}

	nav a:hover {
		background: Black;
	}
	nav a:active {
		background: Black;
		top: 2px;
		left: 2px;
		box-shadow: 1px 1px 3px black;
}

article.c>img {
	width: 300px;
	float: left;
	margin-right: 20px;
}

article.c>p {
margin: 0px 0px 100px;
}

article.am>img{
	width: 300px;
	float: left;
	margin-right: 20px;
	margin-top: 20px;
}

article.se>img{
	width: 430px;
	float: left;
	margin-right: 20px;
	margin-top: 10px;
}

article.se>ul{
	margin: 0px 0px 70px;
}



main {
	padding:10px;
	background:#333;
	border-top: 2px solid #d1dd04;
	border-bottom: 2px solid #d1dd04;
}

article {
	width:1000px;
	padding:10px;
	margin:50px auto;
	background:#fff;
	border-radius: 5px;
	box-shadow: 5px 5px 20px black;
}

article h2 {
	font-size: 2.5em;
	font-weight: normal;
	color: #ff00ff;
	margin-top: 8px;
	margin-bottom: 2px;
}

article p {
	font-size: 1.2em;
}

article>img {
	width:100%;
}


article.album>img {
	width: 400px;
	float: left;
	margin-right: 20px;
}


article.Reggia>img{
	width:450px;
	float: left;
	margin-right: 20px;
}

article.album ul {
	width: 500px;
	list-style-type: none;
	font-size: 1.3em;
}

article.album hr {
	clear: both;
	border: none;
}

article.Reggia hr {
	clear: both;
	border: none;
}

article table {
    border-collapse: collapse;
}

article td, article th {
	width: 320px;
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
	font-size: 1.5em;
	font-weight: bold;
}

article th {
	background: #000;
}





footer {
	height:300px;
	padding:10px;
	text-align:center;
	background:black;
	color:white;
 }

	footer img {
		width:300px;
		margin-top:60px;
	 }

	 
	    table {
        border-collapse:collapse
	    }
    td {
	 border: 1px solid #ddd;
         padding: 8px;
         width:200px;
		}


</style>